.form {
    width: 100%;
    text-align: center;
    align-items: center;
    position: relative; 
}

.text-container {
    position: relative;
    margin-bottom: 20px;
}

.container {
    margin-top: 150px;
}

.logo {
    margin-top: 80px;
    width: 350px;
}

@media (max-width: 767px) {
    .row {
        flex-direction: column-reverse; 
    }

    .col-md-6 {
        text-align: center; 
    }

    .logo {
        margin-top: 0;
    }
}


.btn-style {
    background-color:#0dcaf0;
    border: none;
    color: black ;
}

.forgot-credentials {
    margin-top: 20px;
}

.forgot-credentials a {
    color: #20272b;
}

.create-login a {
    color: #0dcaf0;
}